<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.customermanagement.mapper.TCustomerMapper">

    <resultMap id="BaseResultMap" type="com.example.customermanagement.entity.TCustomer">
            <id property="cid" column="cid" jdbcType="BIGINT"/>
            <result property="cname" column="cname" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="idcard" column="idcard" jdbcType="VARCHAR"/>
            <result property="ctype" column="ctype" jdbcType="INTEGER"/>
            <result property="csex" column="csex" jdbcType="INTEGER"/>
            <result property="remake" column="remake" jdbcType="VARCHAR"/>
            <result property="remake1" column="remake1" jdbcType="VARCHAR"/>
            <result property="remake2" column="remake2" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cid,cname,phone,
        email,idcard,ctype,
        csex,remake,remake1,
        remake2
    </sql>
</mapper>
