<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.customermanagement.mapper.TRoleMapper">

    <resultMap id="BaseResultMap" type="com.example.customermanagement.entity.TRole">
            <id property="rid" column="rid" jdbcType="INTEGER"/>
            <result property="rname" column="rname" jdbcType="VARCHAR"/>
            <result property="rtype" column="rtype" jdbcType="VARCHAR"/>
            <result property="rdesc" column="rdesc" jdbcType="VARCHAR"/>
            <result property="remake" column="remake" jdbcType="VARCHAR"/>
            <result property="remake1" column="remake1" jdbcType="VARCHAR"/>
            <result property="remake2" column="remake2" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid,rname,rtype,
        rdesc,remake,remake1,
        remake2
    </sql>
</mapper>
